.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro {
  color: var(--ion-color-medium);
  margin-bottom: 0.5rem;
}

ion-list {
  margin-bottom: 1rem;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;

  ion-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  ion-label {
    h2 {
      font-weight: 600;
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 0.875rem;
      white-space: normal;
    }
  }
}
