/* Import custom theme variables */
@import 'theme/variables';

/* Global styles */

/* Ionic app requires these base styles */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

/* Global card shadow using theme variable */
ion-card {
  box-shadow: var(--sc-card-shadow);
}
